<div class="well">
    div class="progress progress-striped">
      <div class="bar" style="width: 20%;"></div>
    </div>
    <h2>{{getQuestionId()}}. {{currentQuestion.questionText}}</h2>
    <label data-ng-repeat="answer in currentQuestion.answerList" class="radio">
        <input type="radio" name="answers" id="{{'answer' + $index}}" value="{{$index}}" data-ng-model="currentQuestion.selected">
        {{answer.answerText}}
    </label>
    <ul class="pager">
      <li class="previous" data-ng-hide="isFirstQuestion()">
        <a href="#/questions/{{getPreviousStepId()}}">&larr; Eelmine</a>
      </li>
      <li class="next" data-ng-hide="isLastQuestion()">
        <a href="#/questions/{{getNextStepId()}}" data-ng-click="next()">Järgmine &rarr;</a>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary" data-ng-show="isLastQuestion()" data-ng-click="submit()">Näita tulemusi</button>
</div>